<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Weekly Planner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
        <section id="main">
            <div class="timetable">
                <div class="row tall" id="headers">
                    <h2 class="col">Sunday</h2>
                    <h2 class="col">Monday</h2>
                    <h2 class="col">Tuesday</h2>
                    <h2 class="col">Wednesday</h2>
                    <h2 class="col">Thursday</h2>
                    <h2 class="col">Friday</h2>
                    <h2 class="col">Saturday</h2>
                </div>
                <div class="row var">
                    <% for (var i=0; i<7; i++) { %>
                        <div class="col">
                            <% course.forEach(function(course) {
                               for (var j=0; j<course.days.length; j++) {
                                   if ( course.days[j] == i) { %>
                                    <div class="card">
                                        <div class="row">
                                            <h3><%= course.code %></h3>
                                        </div>
                                        <h2><%= course.name %></h2>
                                        <div class="row">
                                            <i class="fa fa-user" aria-hidden="true"></i><span><%= course.prof %></span>
                                        </div>
                                        <div class="row">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i><span><%= course.room %></span>
                                        </div>
                                        <div class="row">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i><span><%= course.time %></span>
                                        </div>
                                    </div>
                            <% } } }); %>
                        </div>
                    <% } %>
                </div>
            </div>
            <input type="checkbox" id="toggleForm">
            <label id="fab" for="toggleForm"><i class="fa fa-plus" aria-hidden="true"></i></label>
            <div id="formBg">
                <div id="formWindow" class="card">
                    <form method="post" action="index.jsp" name="addForm">
                        <div class="row">
                            <label>Course Number:</label>
                            <input type="text" name="codes" required>
                        </div>
                        <div class="row">
                            <label>Course Name:</label>
                            <input type="text" name="names" required>
                        </div>
                        <div class="row">
                            <label>Professor:</label>
                            <input type="text" name="professors" required>
                        </div>
                        <div class="row">
                            <label>Room:</label>
                            <input type="text" name="rooms" required>
                        </div>
                        <div class="row">
                            <label>Time:</label>
                            <input type="text" name="times" required>
                        </div>
                        <div id="days" class="row">
                            <label>Days:</label>
                            <div>
                                <div class="row">
                                    <input type="checkbox" name="days" value="0" id="Sunday"><label for="Sunday">Sunday</label>
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="days" value="1" id="Monday"><label for="Monday">Monday</label>
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="days" value="2" id="Tuesday"><label for="Tuesday">Tuesday</label>
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="days" value="3" id="Wednesday"><label for="Wednesday">Wednesday</label>
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="days" value="4" id="Thursday"><label for="Thursday">Thursday</label>
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="days" value="5" id="Friday"><label for="Friday">Friday</label>
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="days" value="6" id="Saturday"><label for="Saturday">Saturday</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section id="side">
            <% var currDate = new Date();
               var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
               var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
            <h1><%= currDate.getDate(); %></h1>
            <h1><%= monthNames[currDate.getMonth()] %></h1>
            <h2><%= dayNames[currDate.getDay()] %></h2>
            <p> Classes today</p>
            <div id="todo" class="card">
                <h3>Todo</h3>
                <form class="row" method="get" action="index.jsp" name="addTodo">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <input type="text" placeholder="Add another task..." name="items" required/>
                    <input type="submit" value="add">
                </form>
            </div>
        </section>
    </body>
</html>
